.service-menu {
    margin-bottom: 30px;
    height: 50px;
}

.service-menu .menu-container {
    float: right;
}

.service-ident {
    font-size: 30px;
}

.service-ident input {
    width: 100%;
}

.service-order h3 .pistol88-cart-count {
    background-color: #333;
    color: white;
    border-radius: 30px;
    padding: 5px;
    display: inline;
}

.price-index .order-type {
    padding-bottom: 10px;
}

.price-index .pistol88-cart-truncate-button {
    float: right;
    font-size: 13px;
    padding: 2px;
}

.price-index .control {
    padding-left: 9px;
}

.price-index .control .order-type {
    float: right;
    font-size: 12px;
}


.price-index .control .order-type select {
    font-size: 12px;
    padding: 2px;
    height: auto;
    width: 100px;
}

.service-prices-table {
    font-size: 13px;
}

.service-prices-table th {
    word-break: normal;
}

.service-prices-table td:hover, .service-prices-table td.betterhover, .service-prices-table td.hover {
    background-color:#c0e2ff;  
    box-shadow:0 0 1px #006fcd;
}

.service-prices-table td.price {
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
}

.service-prices-table td.price .btn:hover {
    color: #3F5696;
}

.service-prices-table td.price .btn {
    padding: 3px;
    margin: 1px;
}

.service-prices-table td.price input {
    width: 40px;
}

.service-price {
    float: right;
}

.service-order .total {
    font-size: 221%;
}

.service-order .promocode .promo-code-enter {
    margin-top: 4px;
    width: 119px;
}

.service-order .promocode .promo-code-enter input, .service-order .promocode .promo-code-enter button {
    padding: 3px;
    height: auto;
}

.service_tocart_point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #cc4b5d;
}

.service-order-net {
    padding: 10px;
}

.price-index .row {
    margin-left: 1px;
    margin-right: 1px;
}

.price-index .row > div {
    padding-left: 1px;
    padding-left: 1px;
}

.service-order-net .header {
    padding-bottom: 10px;
}

.service-order-net .category {
    height: 200px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #c0e2ff;
    overflow: hidden;
}

.service-order-net .category:hover {
    border: 2px solid #c0e2ff;  
    box-shadow:0 0 1px #006fcd;
    background-color: #c0e2ff;
}

.service-order-net .price {
    cursor: pointer;
    padding: 4px;
    text-align: center;
    border: 2px solid #c0e2ff;
    height: 100px;
    overflow: hidden;
}

.service-order-net .price .pistol88-cart-buy-button {
    display: none;
}

.service-order-net .price input {
    width: 60px;
}

.service-order-net .price:hover {
    border: 2px solid #c0e2ff;  
    box-shadow:0 0 1px #006fcd;
    background-color: #c0e2ff;
}

.big-button .btn {
    font-size: 30px;
    padding: 7px !important;
}

#orderForm .offer .btn { 
    width: 96%;
    font-size: 25px;
    padding: 10px;
}

#orderForm .promocode p {
    margin: 0 0 4px;
}

.administrator-place {
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.worker-name p.staffername {
    color: #2929a7;
}

.report-index .earnings .bonus {
    font-size: 12px;
    color: green;
}

.report-index .earnings .fine {
    font-size: 12px;
    color: red;
}

.report-index .payment_yes {
    padding: 3px;
    background-color: #d6e2d6;
}

.report-index .payment_no {
    padding: 3px;
    background-color: #ccc;
}